//denotes theme primary color
$primary: #C73B4D;

//denotes theme secondary color
$secondary: #377E68;

//denotes tertiary color
$tertiary: #292F3E;

$light-grey: rgb(243, 243, 243);

$grey: #cccccc;

//background color #F7FAFC
$background: #F7FAFC;

//container width
$container-width:1100px;

$medium-container-width:800px;

$small-container-width:600px;

$shadow: 0 1px 1px rgba(0, 0, 0, 0.3);

$padding: 30px;

$margin: 10px;

$border-radius: 5px;

$switch-on: #6ecf78;

//font family
$font: 'Plus Jakarta Sans',sans-serif;

//console width
$console-width : 430px;

//font size
$font-size: 16px;

//font-color
$font-color:#666666;

//form-focus-color
$form-focus-color:#5cbef7;

$link-color:#007bd9;

//line height
$line-height: 25px;

$desktop:1200px;

//ipad width
$tablet:900px;

//iphone width
$mobile:500px;
