@import "variables";

.alert {
    position: relative;
    padding: 10px;
    border:1px solid $grey;

    &-success {
        background-color: #FFFFFF;
        position: relative;
        padding: 20px;
        border-left: 8px solid #2DB232;
        border-radius:$border-radius;
        box-shadow:$shadow;
    }

    &-info {
        background-color: #FFFFFF;
        position: relative;
        padding: 20px;
        border-left: 8px solid #328EF1;
        border-radius:$border-radius;
        box-shadow:$shadow;

    }

    &-warning {
        background-color: #FFFFFF;
        position: relative;
        padding: 20px;
        border-left: 8px solid #FFBA43;
        border-radius:$border-radius;
        box-shadow:$shadow;
    }
    &-danger {

        background-color: #FFFFFF;
        position: relative;
        padding: 20px;
        border-left: 8px solid #E21219;
        border-radius:$border-radius;
        box-shadow:$shadow;
    }
}
