@import "variables";

.alert {
    position: relative;
    padding: 10px;
    border: 1px solid $grey;

    &-success {
        background-color: #FFFFFF;
        position: relative;
        padding: 20px;
        border-radius: $border-radius;
    }

    &-danger {

        background-color: #FFFFFF;
        position: relative;
        padding: 20px;
        border: 1px solid #c1292e;
        color: #c1292e !important;
        border-radius: $border-radius;
    }
}
