@import "variables";

.form-check-input {
    width: 15px;
    height: 15px;
    margin-top: 5px;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, .25);
    appearance: none;
    color-adjust: exact;

    &[type="checkbox"] {
        border-radius: $border-radius;
    }

    &[type="radio"] {
        border-radius: 50px;
    }

    &:active {
        /*filter: $form-check-input-active-filter;*/
    }

    &:focus {
        color: #495057;
        background-color: #fff;
        border-color: $form-focus-color;
        outline: 0;
        box-shadow: 0 0 0 0.2rem lighten($form-focus-color, 25);
    }

    &:checked {
        background-color: $primary;
        border-color: $primary;

        &[type="checkbox"] {

            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>");
        }

        &[type="radio"] {
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='white'/></svg>");
        }
    }

}