@import "variables";

.combo-btn-container{
   position:relative;
   width:300px;
   
   @media (max-width: $tablet) 
   {
      width:100%;
   }
}


.combobox-container{
   position:relative;
   margin-top:5px;
   height:300px;
   width: 300px;
   //overflow-y:auto;
   overflow-x:hidden;
   border:1px solid $grey;
   border-radius: $border-radius;
   background-color:#fff; 
   box-shadow: 2px 5px 9px 0px rgba(99,99,99,0.29);

   @media (max-width: $tablet) 
   {
      width:100%;
   }

   &-item{
      height:40px;
      width: 280px;
      background-color:#fff; 
      display:flex;
      flex-direction:row;
      justify-content:flex-start;
      align-items: center;
      padding-left:15px;
      margin:8px;
      border-radius:$border-radius;
      cursor:pointer;

      @media (max-width: $tablet) 
      {
         width:100%;
      }


      &:hover{
         background-color:$light-grey;

         @media (max-width: $tablet)
         {
            width:97%;
         }

      }

      &-highlighted{

         background-color:$light-grey;

         @media (max-width: $tablet)
         {
            width:97%;
         }

      }
   }

}

.rm-input-styles
{
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  padding: .275rem .85rem;
  font-family: inherit;
  font-size: 1em;
  line-height: 1.8em;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #fff;

  &:focus{

     background-color: #fff;
     outline: 0;
  }

}


