@import "variables";

.hover-left{
   transition: all 0.5s;
   &:hover{
      margin-left:10px;
      text-decoration:underline;
   }
}


.dashboard{

   &-hamburger{
      position:relative;
      top:10px;
      right:-50px;
      width:40px;
      height:40px;
      background-color:red;
      z-index:2;

      @media (min-width: 900px) 
      {
         display:none;
      }
   }


   &-fixed{

   }

   @media (max-width: 900px) 
   {
      display:none;
   }
}

/*                                                                          
|---------------------------------------------------------------            
| Styles for the draggable pills                                                
|---------------------------------------------------------------            
*/       
.pill{
   position:relative;
   padding:$margin;
   margin-top:15px;
   background-color:#FFFFFF;
   border:1px solid $grey;
   border-radius:$border-radius;
   box-shadow: $shadow;
   cursor:pointer;
   display:flex;
   flex-direction:row;
   justify-content:space-between;
   align-items: center;
}




