@import "variables";

.current-date{

   background-color: $grey;
   color:#fff !important;
   border-radius: $border-radius;
}

.focused {
   //outline: 2px solid #ccc;
   background-color: $primary;
   color:#fff !important;
   border-radius: $border-radius;
}

.datepicker {
    background-color: $background;
}

.date-container {
    width: 300px;

    @media (max-width: $mobile) 
    {
       width:100%;
    }
}

.date-flyout{
    position: relative;
    min-height: 360px;
    width: 300px;
    margin-top:10px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: $border-radius;
    z-index: 2;

    @media (max-width: $mobile) 
    {
       width:100%;
    }
}


.date-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.year-box{
    padding:5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;

    &:hover{
       background-color:$light-grey;
    }
}

.date-chunk{
    float: left;
    width: 33.33%;
}


.date-years{
    position: relative;
    max-height: 300px;
    overflow: auto;
    margin-top: 15px;

    &-row{
        padding:10px;
        background-color: $light-grey;
        width: 100%;
        text-align: center;
        cursor: pointer;
        
        &:hover{
            background-color: darken($light-grey,10);
        }
    }
}


.date-button {
    position: relative;
    padding: 3px;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    user-select: none;
    border: 1px solid #cccccc;

    &:hover{
       background-color:$light-grey;
    }

}

.cal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    color: gray;
    position: relative;
    float: left;
    width: 14.2857142857%;
    cursor: pointer;

    &:hover {
        background-color: $primary;
        color:#fff;
        border-radius: 4px;
    }

    &-no-hover{
        &:hover{
            background-color: #ffffff;
        }
    }
}

.cal-day {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    color: #666;
    position: relative;
    float: left;
    width: 14.2857142857%;
    min-height: 40px;

}
