@import "variables";

input:read-only
{
   background-color:#f2f2f2;
}

.form-control {
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  padding: .275rem .85rem;
  border-radius: $border-radius;
  font-family: inherit;
  font-size: 1em;
  line-height: 1.8em;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: $form-focus-color;
  outline: 0;
  box-shadow: 0 0 0 0.3rem lighten($form-focus-color, 25);
}

.form-control:disabled {
  background-color: #ebebeb;
  border: 1px solid #cccccc;
}

.form-group {
  margin-top: 20px;
  position: relative;
}


.form-row {
  display: flex;
  flex-direction: row;

  @media (max-width:$tablet) {
    flex-direction: column;
  }
}

.form-error {
  background-color: #FCEAEB;
  color: #c23337;
  border: 1px solid #c23337;
}

.form-success {
  background-color: #ECFEEC;
  color: #2b6739;
  border: 1px solid #2b6739;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #cccccc;
}
