@import "variables";

.progress {
    display: flex;
    height: 9px; 
    margin-top: $margin;
    overflow: hidden;
    background-color: #f2f2f2;
    border-radius: 20px !important;
    
    &-bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        text-align: center;
        background-color: $link-color;
        transition: width .6s ease;
        
        &-primary{
            background-color: $primary;
        }
    }

}
