@import "variables";

/*
|---------------------------------------------------------------
| CSS styles for tables 
|---------------------------------------------------------------
|
*/

.table-container {
    background-color: #ffffff; 
}

.table {

    &-row {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        border: 1px solid $grey;
        margin-top: -1px;


        @media (max-width:$tablet){
            flex-direction: column;
            align-items: flex-start;
        }
    }

    /*
    |---------------------------------------------------------------
    | Target the first row which is the header
    |---------------------------------------------------------------
    */
    &-row:first-child {
        background-color: $light-grey;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        cursor: pointer;
        font-family: inherit;
        font-weight: bold;
        color: #333;
    }

    
    &-row:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: $shadow;
    }



    &-col {
        // background-color: red;
        padding: 10px; 
        flex:1;

        @media (max-width:$tablet){
            padding: 10px;
        }
    }
}
