@import "variables";

.tab-container {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    flex-direction: row;
    //flex-wrap: wrap;
    background-color:$light-grey;
    padding:5px;
    border-radius: $border-radius;
    min-width:200px;
  }
  
  .tab-header {
    min-width: 100px;
    text-align:center;
    margin-right:5px;
    //font-size: 16px;
    user-select: none;
    padding: 6px;
    cursor: pointer;
    //background-color:$light-grey;
    &:hover{
      //border-bottom: 5px solid $primary;
    }
  }
  
  .tab-content {
    width: 100%;
    //border-top: 1px solid #cccccc;
  }
  
  @media (max-width:$mobile){
    .tab-container{
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
    } 
    .tab-header{
      width: 100%;
    }
  }

  .tab__selected{
     color:#000;
     border-radius: $border-radius;
     box-shadow: 1px 1px 3px -1px rgba(0,0,0,0.47);
     background-color:#fff;
  }
